.container
  width 750px !important

#basics_1 div, #basics_2 div
  height 100px
  border 1px solid grey
  border-radius 4px
  background-color white

.gr-gropable
  opacity 1
  transition opacity 1s linear
  transition background-color 1s linear  

.gr-disappear
  opacity 0.3 !important
  background-color red !important
  transition opacity 1s linear
  transition background-color 1s linear

.gr-tosszone.active
  background-color #f2dede !important

.gr-groping
  opacity 0.7 !important
